
*{
	margin:0;
	padding:0;
}
			
section{
	display: contents;
}

.oculto {
	display:none;
}

/*-----------------------------------------------cores ao colocar o mouse sobre--------------------------------------------*/

#btnUsuario:hover {
	background-color: rgba(34, 138, 34, 0.95);
	color: white;
}

#iniciarPartida:hover{
	background-color: rgb(201, 63, 63);
	color: white;
}
	
#btnLeaderboard:hover{
	background-color: rgba(34, 138, 34, 0.95);
	color: white;
}			
	
#btnTrapaça:hover {
	background-color: rgba(34, 138, 34, 0.95);
	color: white;
}

#OpcoesMenuUsuario a:hover{
	background-color: rgb(225 225 225);
	color: black;
}

#modoDeJogo:hover {
	background-color: rgba(34, 138, 34, 0.95);
	color: white;
}

/*-----------------------------------------------formatação das imagens----------------------------------------------------*/		
	
#imgBomba, #imgTamTab{
    height: 1.5em;
    width: 1.5em;    
}

#avatar{
	border-radius:5em;
	padding:0.5em;
}
			
/*---------------------------------------------------- grid da página ---------------------------------------------------- */

body{
	font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: linear-gradient(rgb(5, 5, 5), rgb(50, 50, 50));
	opacity: 0.9;
	display: grid;
	grid-template-columns: 2fr 9fr 2fr;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: 	"header 		header 		header"
							"restante 		restante	restante"
							"tempoPartida	jogo		trapaça";					
	height:100vh;
	padding: 0;
	box-sizing: border-box;
}

/*------------------------------------------------------ cabecalho ------------------------------------------------------- */

#cabecalho{
	grid-area:header;
	background-color: white;
	color:black;	
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-gap: 2.5em;
	border: solid 4.8px black;
    box-shadow: 0 0 1em rgb(100 100 100);
}

#dadosJogo {
	display: grid;
	grid-template-columns: 1fr 2fr 5fr 2fr;
	grid-gap: 0.5em;
	padding: 0.5em;
}

/*---------------------------------------------------- Menu usuário -------------------------------------------------------*/

#menuUsuario {
	position: relative;
	display: inline-block;
	height:100%;
	border-right: solid 0.2em rgb(5 5 5);
}

#btnUsuario {
	background-color: rgba(20, 107, 20, 0.95);
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#OpcoesMenuUsuario {
	display: none;
	position: absolute;
	right: 0;
	left: 0;
	background-color: #f9f9f9;
	color: black;
	box-shadow: 0px 0.5em 1em 0px rgb(0 0 0 / 80%);
	z-index: 1;
}

#OpcoesMenuUsuario a {
	color: black;
	background-color:transparent;
	padding: 1.5em 1em;
	text-decoration: none;
	display: block;
}

#menuUsuario:hover #OpcoesMenuUsuario {
	display: block;
}


/*----------------------------------------------------dados para partida---------------------------------------------------*/

.caixa{
	display: flex;
	border: solid 3px rgb(5 5 5);
	border-radius: 0.5em;
	align-items: center;
	padding: 0.2em;	
}

.caixa input{
	font-size: 16px;
	width: 3em;
    height: 50%;
    margin: 0.25em;
	
}

/*---------------------------------------------------- Iniciar Partida --------------------------------------------------- */

#iniciarPartida {
    color: white;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: brown;
    border-style: solid;
    border-width: thin;
    border-image: initial;
    border-radius: 5em;  
}

/*---------------------------------------------------- modo de jogo -------------------------------------------------------*/

#modoDeJogo {
    height: 100%;
    margin-left: 0.25em;
    background-color: rgba(20, 107, 20, 0.95);
    color: white;
    cursor: pointer;	
    font-size: 20px;
    text-align: center;
}

#modoDeJogo > option{
	background-color: #f9f9f9;
    color: black;
}

/*---------------------------------------------------- ranking ----------------------------------------------------------- */	
			
#btnLeaderboard {
	background-color: rgba(20, 107, 20, 0.95);
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
	text-decoration: none;
}

#leaderboard {
	border-left: solid 0.2em rgb(5 5 5);
}

/*----------------------------------------------------Marcadores de tempo------------------------------------------------- */
	
#tempoRestante{
	grid-area: restante;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #171717;
	margin-bottom: 5%;
    background: transparent;
}

#tempoPartida{
	grid-area: tempoPartida;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	text-align: center;
	color: white;
    background: transparent;
}

.marcadorTempo {
	background-color:white;
	color: black;
    border: solid 0.2em #171717;
	border-radius: 10em;
	box-sizing:border-box;
    margin: 0.4em;
    padding: 0.4em;
}

/*--------------------------------------------------------- Jogo --------------------------------------------------------- */

#jogo{

	grid-area: jogo;
	box-shadow: 0 0 0.5em rgb(100, 100, 100);
	padding: 2.5% 7.5% 7.5%;
	background-color: whitesmoke;
	color: black;
	height: fit-content;
	width: fit-content;
	margin: 5% auto;
}

#campoMinado{
	height:100%;
	/*background-image:url('./Assets/Fig.png');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#game-table{
	margin: auto;
	border: medium solid #171717FF;
	border-collapse: collapse;
}
td{
	height: 25px;
	width: 25px;
	/*background-color: #ff0000;*/
	background-image: url("./Assets/table-tile-notclicked.jpg");
	border: thin solid #343434;
}
tr{
	padding: 0;
	margin: 0;
}

/*---------------------------------------------------- Trapaça ----------------------------------------------------------- */

#trapaça{
    grid-area: trapaça;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btnTrapaça {
	padding: 1em;
    font-size: 1em;
    background-color: rgba(20, 107, 20, 0.95);
    color: white;
    border: solid 0.2em black;
	cursor: pointer;
	border-radius: 10em;
}
