*{
	margin:0;
	padding:0;
}			

h1, h2, h3 {
	display:none;
}

/*-----------------------------------------------cores ao colocar o mouse sobre--------------------------------------------*/

			
.btnPagInicial:hover{
	background-color: rgb(201, 63, 63);
	color: white;
}			


/*-----------------------------------------------formatação das imagens----------------------------------------------------*/		

.histIcon {
	width:1em;
	height:1em;
}

.icone{
  height: 1.2em;
  width: 1.2em;
}
			
/*---------------------------------------------------- grid da página ---------------------------------------------------- */

body{
	font-size: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;		
	background: linear-gradient(rgb(5, 5, 5), rgb(50, 50, 50));
 	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0.5em;
	box-sizing: border-box;
}

/*------------------------------------------------------ cabecalho ------------------------------------------------------- */

.cabecalho{
	opacity: 0.9;	
	grid-area: header;
	display: grid;
	grid-template-columns: 2fr 5.5fr 2fr;
	grid-gap: 0;
}

.historicoTexto {
	font-size: 175%;
	padding: 0.5em;
	text-align: center;
	background-color: white;
	color: black;
	box-shadow: 0 0 1em rgb(100 100 100);
}


/*---------------------------------------------------- voltar -----------------------------------------------------------*/	
			
.btnPagInicial {
  background-color: brown;
  opacity: 95%;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

/*-------------------------------------------------- Tabela de Histórico ------------------------------------------------*/

#tabelaHist{
	width:72%;
	margin-left: auto;
	margin-right: auto;
	margin-top:5%;	
	border-radius:1em;
	padding:1%;
	background-color: white;
	color: black;
	box-shadow: 0 0 1em rgb(100 100 100);
}

#tabela{
	width:100%;
	align-content: center;
	border:solid gray 1em;
	border-radius:1em;
	text-align:center;
}

.linhaInfos{	
	font-size:144%;
	font-weight:bold;
	background-color:lightblue;
	color: black;
}
.linhaValores{
	background-color:lightgrey;
	font-size:128%;
	color: black;
}
