
*{
  margin: 0;
  padding: 0;
}

section{
  display: contents;
}

.oculto {
  display: none;
}

/*-----------------------------------------------cores ao colocar o mouse sobre--------------------------------------------*/

#btnUsuario:hover {
  background-color: rgb(201, 63, 63);
  color: white;
}

#OpcoesMenuUsuario a:hover {
  background-color: rgb(225 225 225);
  color: black;
}


/*-----------------------------------------------formatação das imagens----------------------------------------------------*/    

#avatar {
  border-radius: 5em;
  padding: 0.5em;
}



/*---------------------------------------------------- Menu usuário -------------------------------------------------------*/

#menuUsuario {
  position: relative;
  display: inline-block;
  height: 100%;
}

#btnUsuario {
  background-color: brown;
  opacity: 95%;
  color: white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

#OpcoesMenuUsuario {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #f9f9f9;
  color: black;
  box-shadow: 0px 0.5em 1em 0px rgb(0 0 0);
  z-index: 1;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-left-radius: .5em;
}

#OpcoesMenuUsuario a {
  color: black;
  background-color: transparent;
  padding: 1.5em 1em;
  text-decoration: none;
  display: block;
  border-radius: 0.5em;
}

#menuUsuario:hover #OpcoesMenuUsuario {
  display: block;
}